#screen {
  width: 98vw;
  height: 96vh;
  overflow: hidden;
  border: 0.2vw solid white;
}

#bar_wrapper {
  display: flex;
  flex-direction: row;
}

.bar {
  height: 96vh;
  width: 2.42vw;
  margin-right: 3px;
  margin-top: 96vh;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(196, 53, 24, 1) 0%, rgba(215, 176, 56, 1) 65%, rgba(127, 179, 20, 1) 85%, rgba(51, 163, 28, 1) 100%);
}
